##  Creating a new IO_TIOB dataset using updated TIOB data from PBI and latest denominator report from Shraddha.

### Matching Patient Counts by Month
* April 2023 - 20 
* Feb 2023 - 11 
* March 2023 - 14 
* May 2023 - 17 
* June 2023 - 13

In [1]:
import pandas as pd 

# import the data

tiob_io = pd.read_csv(r'C:\Users\e745092\Desktop\Shraddha Email TIOB IO\TIOB_IO_07052023.csv')

denominator = pd.read_csv(r'C:\Users\e745092\Desktop\Shraddha Email TIOB IO\IO_Denominator_FirstMeds_08012020_07062023.csv')

In [2]:
tiob_io.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MRN                780 non-null    int64
 1   SID                780 non-null    object
 2   Consent Date       780 non-null    object
 3   On Project Status  780 non-null    object
 4   Doctor             779 non-null    object
 5   Site               780 non-null    object
 6   Enrollment Status  780 non-null    object
 7   Consent_Date       780 non-null    object
 8   Year               780 non-null    float64
 9   Year Month         780 non-null    object
 10  Month Year         780 non-null    object
 11  Fiscal Year        780 non-null    object
dtypes: float64(1), int64(1), object(10)
memory usage: 42.7+ KB

In [3]:
denominator.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1603 entries, 0 to 1602
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PAT_MRN_ID        1603 non-null   int64
 1   ORDERING_PROVID   1603 non-null   int64
 2   ORDERING_PROV     1603 non-null   object
 3   PROV_ID_ON_LIST   819 non-null    object
 4   ORDER_MED_ID      1603 non-null   int64
 5   FIRST_TAKEN_TIME  1603 non-null   object
 6   MEDICATION        1603 non-null   object
 7   DX1               1603 non-null   object
 8   DX2               169 non-null    object
 9   DX3               0 non-null      float64
 10  INCLUDED_DX       1603 non-null   object
 11  Pembrolizumab     889 non-null    object
 12  Nivolumab         299 non-null    object
 13  Ipilimumab        11 non-null     object
 14  Atezolizumab      219 non-null    object
 15  Cemiplimab        42 non-null     object
 16  Avelumab          27 non-null     object
 17  Durvalumab        116 non-null    object
 18  Olaratumab        0 non-null      float64
 19  Keytruda          0 non-null      float64
 20  Opdivo            0 non-null      float64
 21  Yervoy            0 non-null      float64
 22  Tecentriq         0 non-null      float64
 23  Libtayo           0 non-null      float64
 24  Bavencio          27 non-null     object
 25  Imfinzi           0 non-null      float64
 26  Lartruvo          0 non-null      float64
 27  LOC_ID            1603 non-null   int64
 28  LOC_NAME          1603 non-null   object
dtypes: float64(9), int64(4), object(16)
memory usage: 263.1+ KB

PREPROCESSING DENOMINATOR REPORT

In [4]:
# create a new dataframe with the columns we need from the denominator file
denominator_cp = pd.DataFrame(denominator, columns = ['PAT_MRN_ID', 'ORDERING_PROVID', 'ORDERING_PROV', 'ORDER_MED_ID', 'FIRST_TAKEN_TIME', 'MEDICATION', 'DX1', 'LOC_NAME'])

# convert the MRN column to an integer
denominator_cp['PAT_MRN_ID'] = denominator_cp['PAT_MRN_ID'].astype(int)

# rename PAT_MRN_ID to MRN
denominator_cp.rename(columns = {'PAT_MRN_ID': 'MRN'}, inplace = True)

denominator_cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1603 entries, 0 to 1602
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MRN               1603 non-null   int32
 1   ORDERING_PROVID   1603 non-null   int64
 2   ORDERING_PROV     1603 non-null   object
 3   ORDER_MED_ID      1603 non-null   int64
 4   FIRST_TAKEN_TIME  1603 non-null   object
 5   MEDICATION        1603 non-null   object
 6   DX1               1603 non-null   object
 7   LOC_NAME          1603 non-null   object
dtypes: int32(1), int64(2), object(5)
memory usage: 62.7+ KB

### INNER MERGE BOTH DF 

TO GET MATCHING MRNS FOUND IN BOTH REPORTS

In [5]:
innerjoin_df = pd.merge(denominator_cp, tiob_io, on='MRN', how='inner', indicator=True)
innerjoin_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274 entries, 0 to 273
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MRN                274 non-null    int32
 1   ORDERING_PROVID    274 non-null    int64
 2   ORDERING_PROV      274 non-null    object
 3   ORDER_MED_ID       274 non-null    int64
 4   FIRST_TAKEN_TIME   274 non-null    object
 5   MEDICATION         274 non-null    object
 6   DX1                274 non-null    object
 7   LOC_NAME           274 non-null    object
 8   SID                274 non-null    object
 9   Consent Date       274 non-null    object
 10  On Project Status  274 non-null    object
 11  Doctor             273 non-null    object
 12  Site               274 non-null    object
 13  Enrollment Status  274 non-null    object
 14  Consent_Date       274 non-null    object
 15  Year               274 non-null    float64
 16  Year Month         274 non-null    object
 17  Month Year         274 non-null    object
 18  Fiscal Year        274 non-null    object
 19  _merge             274 non-null    category
dtypes: category(1), float64(1), int32(1), int64(2), object(15)
memory usage: 26.0+ KB

In [6]:
# TO CSV 
# innerjoin_df.to_csv(r'C:\Users\e745092\Desktop\Shraddha Email TIOB IO\IO_Denominator_TIOBIO2.csv', index = False)

### OUTER MERGE BOTH DF

TO GET NON MATCHING MRNS FROM BOTH REPORTS

In [7]:
outerjoin_df = pd.merge(denominator_cp, tiob_io, on='MRN', how='outer', indicator=True)
outerjoin_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2109 entries, 0 to 2108
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MRN                2109 non-null   int64
 1   ORDERING_PROVID    1603 non-null   float64
 2   ORDERING_PROV      1603 non-null   object
 3   ORDER_MED_ID       1603 non-null   float64
 4   FIRST_TAKEN_TIME   1603 non-null   object
 5   MEDICATION         1603 non-null   object
 6   DX1                1603 non-null   object
 7   LOC_NAME           1603 non-null   object
 8   SID                780 non-null    object
 9   Consent Date       780 non-null    object
 10  On Project Status  780 non-null    object
 11  Doctor             779 non-null    object
 12  Site               780 non-null    object
 13  Enrollment Status  780 non-null    object
 14  Consent_Date       780 non-null    object
 15  Year               780 non-null    float64
 16  Year Month         780 non-null    object
 17  Month Year         780 non-null    object
 18  Fiscal Year        780 non-null    object
 19  _merge             2109 non-null   category
dtypes: category(1), float64(3), int64(1), object(15)
memory usage: 208.1+ KB

### APPEND BOTH TO FORM ONE DF 
APPEND OUTER AND INNER DF TO FORM ONE DF

In [8]:
append_df = innerjoin_df.append(outerjoin_df)

# TO SHOW ALL ROWS AND COLUMNS RESULT 
append_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2383 entries, 0 to 2108
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MRN                2383 non-null   int64
 1   ORDERING_PROVID    1877 non-null   float64
 2   ORDERING_PROV      1877 non-null   object
 3   ORDER_MED_ID       1877 non-null   float64
 4   FIRST_TAKEN_TIME   1877 non-null   object
 5   MEDICATION         1877 non-null   object
 6   DX1                1877 non-null   object
 7   LOC_NAME           1877 non-null   object
 8   SID                1054 non-null   object
 9   Consent Date       1054 non-null   object
 10  On Project Status  1054 non-null   object
 11  Doctor             1052 non-null   object
 12  Site               1054 non-null   object
 13  Enrollment Status  1054 non-null   object
 14  Consent_Date       1054 non-null   object
 15  Year               1054 non-null   float64
 16  Year Month         1054 non-null   object
 17  Month Year         1054 non-null   object
 18  Fiscal Year        1054 non-null   object
 19  _merge             2383 non-null   category
dtypes: category(1), float64(3), int64(1), object(15)
memory usage: 235.1+ KB

Remove Duplicate MRNs

In [9]:
append_df_copy = append_df.copy()

append_df_copy.drop_duplicates(subset = ['MRN'], keep = 'first', inplace = True)

append_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2109 entries, 0 to 2108
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MRN                2109 non-null   int64
 1   ORDERING_PROVID    1603 non-null   float64
 2   ORDERING_PROV      1603 non-null   object
 3   ORDER_MED_ID       1603 non-null   float64
 4   FIRST_TAKEN_TIME   1603 non-null   object
 5   MEDICATION         1603 non-null   object
 6   DX1                1603 non-null   object
 7   LOC_NAME           1603 non-null   object
 8   SID                780 non-null    object
 9   Consent Date       780 non-null    object
 10  On Project Status  780 non-null    object
 11  Doctor             779 non-null    object
 12  Site               780 non-null    object
 13  Enrollment Status  780 non-null    object
 14  Consent_Date       780 non-null    object
 15  Year               780 non-null    float64
 16  Year Month         780 non-null    object
 17  Month Year         780 non-null    object
 18  Fiscal Year        780 non-null    object
 19  _merge             2109 non-null   category
dtypes: category(1), float64(3), int64(1), object(15)
memory usage: 208.1+ KB

Create FIRST_TAKEN_CONSENT_TIME column

In [10]:
# create new column using Consent Date and fill null values with FIRST_TAKEN_TIME

append_df_copy['FIRST_TAKEN_CONSENT_TIME'] = append_df_copy['Consent Date'].fillna(append_df_copy['FIRST_TAKEN_TIME'])

In [11]:
append_df_copy.LOC_NAME.unique().tolist()

['TEMPLE CLINIC',
 'BAYLOR SCOTT & WHITE MCCLINTON CANCER CENTER',
 'BSW CHARLES A SAMMONS CANCER CENTER - DUNCANVILLE',
 'BAYLOR SCOTT & WHITE MEDICAL CENTER - WAXAHACHIE',
 'BAYLOR SCOTT & WHITE CANCER CENTER & CLINIC RR',
 'BAYLOR SCOTT & WHITE CLINIC - COLLEGE STATION ROCK PRAIRIE',
 'BAYLOR SCOTT & WHITE SPECIALTY CLINIC - MARBLE FALLS',
 'BAYLOR SCOTT & WHITE ALL SAINTS MEDICAL CENTER - FORT WORTH',
 'BAYLOR SCOTT & WHITE CANCER CENTER - KILLEEN',
 'BAYLOR UNIVERSITY MEDICAL CENTER AT DALLAS',
 'BAYLOR SCOTT & WHITE MEDICAL CENTER - MCKINNEY',
 'BAYLOR SCOTT & WHITE MEDICAL CENTER - PLANO',
 'BAYLOR SCOTT & WHITE MEDICAL CENTER - AUSTIN',
 'BAYLOR SCOTT & WHITE MCLANE CHILDRENS SPECIALTY CLINIC TEMPLE',
 'BSW DALLAS NEURO ONCOLOGY ASSOCIATES',
 'BAYLOR SCOTT & WHITE MEDICAL CENTER - GRAPEVINE',
 nan]

SITES LOC_NAME to LOCATIONS column

* TEMPLE CLINIC = Temple 
* BSW CLINIC - COLLEGE STATION ROCK PRAIRIE == College Station
* BSW CANCER CENTER & CLINIC RR 
* ALL SAINTS MEDICAL CENTER - FORT WORTH == BAS 
* BSW MEDICAL CENTER - WAXAHACHIE == Wax 
* BSW MEDICAL CENTER - PLANO == Plano 
* BAYLOR UNIVERSITY MEDICAL CENTER AT DALLAS == BUMC

In [28]:
# Create LOCATION column using LOC_NAME and fill in null values with SITE

append_df_copy['LOCATION'] = append_df_copy['Site'].fillna(append_df_copy['LOC_NAME'])

# shorten names of the location column 

# append_df_copy['LOCATION'] = append_df_copy['LOCATION'].map({
#     'BAYLOR SCOTT & WHITE MCLANE CHILDRENS SPECIALTY CLINIC TEMPLE': 'Temple',
#     'TEMPLE CLINIC': 'Temple',
#     'BAYLOR SCOTT & WHITE CLINIC - COLLEGE STATION ROCK PRAIRIE': 'College Station',
#     'BAYLOR SCOTT & WHITE CANCER CENTER & CLINIC RR': 'RR',
#     'BAYLOR SCOTT & WHITE MEDICAL CENTER - WAXAHACHIE': 'Wax',
#     'BAYLOR SCOTT & WHITE ALL SAINTS MEDICAL CENTER - FORT WORTH': 'BAS',
#     'BAYLOR UNIVERSITY MEDICAL CENTER AT DALLAS': 'BUMC',
#     'BAYLOR SCOTT & WHITE MEDICAL CENTER - PLANO': 'Plano',
# })

# TEMPLE NAME CHANGES
df_copy = append_df_copy.replace(to_replace = 'TEMPLE CLINIC', value = 'Temple', regex = True, inplace = True )
df_copy = append_df_copy.replace(to_replace = 'BAYLOR SCOTT & WHITE MCLANE CHILDRENS SPECIALTY CLINIC TEMPLE', value = 'Temple', regex = True, inplace = True )

# # COLLEGE STATION NAME CHANGES
df_copy = append_df_copy.replace(to_replace = 'BAYLOR SCOTT & WHITE CLINIC - COLLEGE STATION ROCK PRAIRIE', value = 'College Station', regex = True, inplace=True) 

# RR 
df_copy = append_df_copy.replace(to_replace = 'BAYLOR SCOTT & WHITE CANCER CENTER & CLINIC RR', value = 'RR', regex = True, inplace=True)

# # WAX 
df_updated = append_df_copy.replace(to_replace = 'BAYLOR SCOTT & WHITE MEDICAL CENTER - WAXAHACHIE', value = 'Wax', regex = True, inplace=True)

# # BAS 
df_updated = append_df_copy.replace(to_replace = 'BAYLOR SCOTT & WHITE ALL SAINTS MEDICAL CENTER - FORT WORTH', value = 'BAS', regex = True, inplace=True)

# # BUMC
df_updated = append_df_copy.replace(to_replace = 'BAYLOR UNIVERSITY MEDICAL CENTER AT DALLAS', value = 'BUMC', regex = True, inplace=True)

# # PLANO 
df_updated = append_df_copy.replace(to_replace = 'BAYLOR SCOTT & WHITE MEDICAL CENTER - PLANO', value = 'Plano', regex = True, inplace=True)

# shorten names of the location column
df_updated = append_df_copy.replace(to_replace ='BAYLOR SCOTT & WHITE', value = 'BSW', regex = True, inplace=True)

In [29]:
append_df_copy.LOCATION.unique().tolist()

['Temple',
 'Waco',
 'Wax',
 'RR',
 'College Station',
 'BSW MCCLINTON CANCER CENTER',
 'BAS',
 'BSW CANCER CENTER - KILLEEN',
 'BSW SPECIALTY CLINIC - MARBLE FALLS',
 'BSW CHARLES A SAMMONS CANCER CENTER - DUNCANVILLE',
 'BUMC',
 'BSW MEDICAL CENTER - MCKINNEY',
 'Plano',
 'BSW MEDICAL CENTER - AUSTIN',
 'BSW DALLAS NEURO ONCOLOGY ASSOCIATES',
 'BSW MEDICAL CENTER - GRAPEVINE']

In [31]:
append_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2109 entries, 0 to 2108
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MRN                       2109 non-null   int64
 1   ORDERING_PROVID           1603 non-null   float64
 2   ORDERING_PROV             1603 non-null   object
 3   ORDER_MED_ID              1603 non-null   float64
 4   FIRST_TAKEN_TIME          1603 non-null   object
 5   MEDICATION                1603 non-null   object
 6   DX1                       1603 non-null   object
 7   LOC_NAME                  1603 non-null   object
 8   SID                       780 non-null    object
 9   Consent Date              780 non-null    object
 10  On Project Status         780 non-null    object
 11  Doctor                    779 non-null    object
 12  Site                      780 non-null    object
 13  Enrollment Status         780 non-null    object
 14  Consent_Date              780 non-null    object
 15  Year                      780 non-null    float64
 16  Year Month                780 non-null    object
 17  Month Year                780 non-null    object
 18  Fiscal Year               780 non-null    object
 19  _merge                    2109 non-null   category
 20  FIRST_TAKEN_CONSENT_TIME  2109 non-null   object
 21  LOCATION                  2109 non-null   object
dtypes: category(1), float64(3), int64(1), object(17)
memory usage: 224.6+ KB

In [32]:
# to csv 

# append_df_copy.to_csv(r'C:\Users\e745092\Desktop\Shraddha Email TIOB IO\Output\io_tiob_updated.csv', index = False)